.sidebar {
    width: 200px;
    height: 100vh;
    background: linear-gradient(180deg, #07357A 0%, #3984F3 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.sidebar .list-item-button:hover {
    background-color: #f0f0f0;
    color: black;
}

/* Change image color to black on hover */
.sidebar .list-item-button:hover .list-item-img {
    filter: brightness(0) invert(1);
}

.list-item-img {
    transition: filter 0.3s; /* Optional: for a smooth transition */
}

.list-item-button {
    transition: background-color 0.3s;
    /* Optional: for a smooth transition */
}


.list-item-img {
    width: 25px;
}

.list-item-text {
    font-size: 1rem;
}