/* Sidebar.css */
.sidebar {
    height: 100%;
    width: 270px;
    position: fixed;
    top: 20; /* Ensure the sidebar starts from the top */
    left: 0;
    background: linear-gradient(to bottom, #07357A 0%, #3984F3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    padding-top: 50px; /* Add padding to the top if necessary */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.sidebar-content {
    padding: 20px;
    text-align: center;
}

.sidebar h2 {
    color: #f0f0f0; /* Match the text color to the gradient theme */
}

.sidebar ul {
    list-style-type: none;
    padding: 40px;
    width: 100%; /* Ensure the ul takes full width of sidebar */
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 40px; /* Adjust padding for balanced spacing */
    border: 1px;
    text-align: center;
    width: 100%; /* Ensure the list items take full width */
    box-sizing: border-box; /* Ensure padding is included in the width */
    width: 220px;
    height: 40px;
}

.sidebar ul li a {
    color: #f0f0f0; /* Default text color */
    text-decoration: none;
    display: block;
    margin-left: 20px;
    flex-grow: 1; /* Make link take the remaining space */
    text-align: left; /* Align text to the left */
}

.sidebar ul li:hover {
    background-color: #f0f0f0; /* Subtle hover effect */
    border-radius: 10px; /* Optional: round the hover effect */
    cursor: pointer;
}

.sidebar ul li:hover .sidebar-icon {
    color: #07357A; /* Change icon color on hover */
}

.sidebar ul li:hover a {
    color: #07357A; /* Change text color on hover */
}

.sidebar-icon {
    color: #f0f0f0; /* Default icon color */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 80px; /* Reduce sidebar width */
    }

    .sidebar ul li {
        justify-content: center; /* Center icons */
        padding: 20px; /* Adjust padding */
    }

    .sidebar ul li a {
        display: none; /* Hide text links */
    }
}

@media (max-width: 480px) {
    .sidebar ul li {
        padding: 15px; /* Further adjust padding for smaller screens */
    }

    .sidebar ul li:hover {
        background-color: #f0f0f0; /* Adjust hover background color for smaller screens */
    }

    .sidebar ul li:hover .sidebar-icon {
        color: #07357A; /* Maintain icon color on hover */
    }
}
